<% provide(:title, "Home") %>

<div class="products-catagories-area ">
  <div class="amado-pro-catagory ">
    <% if params[:title].present? %>
    <h1><%= params[:title] %>'s Result Search</h1>
    <% end %>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-6 col-sm-4 col-md-6 col-xl-4">
          <div class="single-products-wrapper ">
            <%= link_to book do %>
              <% if book.picture.present? %>
                <%= cl_image_tag(book.picture, {:style => "height:500px;"}) %>
              <% else %>
                <%= image_tag("default_book.jpg", {:style => "height:500px;"}) %>
              <% end %>
              <div class="hover-content">
                <div class="line"></div>
                <p><%= book.author %></p>
                <h4><%= book.title %></h4>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @books, theme: 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>

