<% provide(:title, "Home") %>

<div class="products-catagories-area ">
  <div class="amado-pro-catagory ">
    <% if params[:title].present? %>
    <h1><%= params[:title] %>'s Result Search</h1>
    <% end %>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-6 col-sm-4 col-md-6 col-xl-4">
          <div class="single-products-wrapper ">
            <%= link_to book do %>
              <% if book.picture.present? %>
                <%= cl_image_tag(book.picture, {:style => "height:350px;"}) %>
              <% else %>
                <%= image_tag("default_book.jpg", {:style => "height:350px;"}) %>
              <% end %>
              <div class="hover-content">
                <div class="line"></div>
                <h4><%= book.title %></h4>
                <span><%= book.author %></span>
              </div>
            <% end %>
          </div>
          <div class="ratings">
            <%= rating_for book, "quality", star: 5,  disable_after_rate: false, cancel: true %>
            <div class="font-rating">
              (Total vote: <%= book.rates("quality").count %>)
            <br>
            <% unless book.rates("quality").count == 0 %>
            Average Score: <%= sprintf "%.2f", book.average("quality").avg %>
            <% end %></div>
          </div>
        </div>

      <% end %>
      <div class="digg_pagination">
        <%= paginate @books, theme: 'twitter-bootstrap-3' %>
      </div>
    </div>
  </div>
</div>