<% provide(:title, "Home") %>

<div class="products-catagories-area ">
  <div class="amado-pro-catagory ">
    <div class="row">
      <% @books.each do |book| %>
        <div class="single-products-catagory ">
          <%= link_to book do %>
            <% if book.picture.present? %>
              <%= cl_image_tag(book.picture, {:style => "height:650px;"}) %>
            <% else %>
              <%= image_tag("default_book.jpg", {:style => "height:650px;"}) %>
            <% end %>
            <div class="hover-content">
              <div class="line"></div>
              <p><%= book.author %></p>
              <h4><%= book.title %></h4>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
