<% provide(:title, 'Reset password') %>
<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="checkout_details_area mt-50 clearfix">
          <div class="cart-title">
            <h2>Reset Password</h2>
          </div>
          <%= hidden_field_tag :email, @user.email %>
            <div class="row">
              <div class="col-12 mb-3">
                <%= f.label :password %>
      			<%= f.password_field :password, class: 'form-control' %>
              </div>

              <div class="col-12 mb-3">
                <%= f.label :password_confirmation, "Confirmation" %>
      			<%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>
            <div class="cart-btn">
              <%= f.submit "Update Password", class:"btn amado-btn w-100" %>
            </div>
        </div>
        <% end %>
      </div>
      <div class="col-12 col-lg-4">
        <%= image_tag("book_background.jpg") %>
      </div>
    </div>
  </div>
</div>
