<article>
  <% if comment.user.avatar.present? %>
    <%= cl_image_tag(comment.user.avatar) %>
  <% else %>
    <%= image_tag("avatar-default.png") %>
  <% end %>
  <h4><%= link_to comment.user.name, user_path(comment.user) %></h4>
  <time><%= time_ago_in_words(comment.updated_at) %></time>
  <% if comment.user == current_user %>
    <%= link_to comment_path(comment), method: :delete, :data => {:confirm => 'Are you sure?'} do %>
      <i class="fa fa-trash fa-2x"></i>
    <% end %>
    <%= link_to book_generate_edit_form_path(@book.id, comment_id: comment.id), remote: true do %>
      <i class="fa fa-edit fa-2x"></i>
    <% end %>
  <% end %>
  <p><%= comment.content %></p>
</article>
