<% provide(:title, @user.name) %>

<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="checkout_details_area mt-50 clearfix">
          <div class="cart-title">
            <h2><%= @user.name %></h2>
          </div>
          <%= form_for(@user) do |f| %>
            <div class="row">
              <%= render "shared/error_messages", object: @user %>
              <div class="col-12 mb-3">
                <%= f.text_field :name, class:"form-control",
                  placeholder: @user.name %>
              </div>
              <div class="col-12 mb-3">
                <%= f.text_field :email, class:"form-control",
                  placeholder: @user.email %>
              </div>
              <div class="col-12 mb-3">
                <%= f.text_field :login_name, class:"form-control",
                  placeholder: @user.login_name %>
              </div>
              <div class="col-12 mb-3">
                <%= f.select :gender, [["Male"], ["Female"], ["Other"]], {}, {class: "w-100"}  %>
              </div>
              <div class="col-12 mb-3">
                <%= f.password_field :password, class: "form-control",
                  placeholder: "Password" %>
              </div>
              <div class="col-12 mb-3">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
              </div>
            </div>
            <div class="cart-btn">
              <%= f.submit "Save Changes", class:"btn amado-btn w-100" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="cart-summary">
          <h5>Information</h5>
          <ul class="summary-table">
            <li>
              <span>login name:</span>
              <span><%= @user.login_name %></span>
            </li>
            <li>
              <span>email:</span>
              <span><%= @user.email %></span>
            </li>
            <li>
              <span>created at:</span>
              <span><%= @user.created_at %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
