<p>Author:
  <b><%= @book.author %></b>
</p>
<br>
<p>Publishing Company:
  <b><%= @book.publishing_company %></b>
</p>
<br>
<p>Category:
  <b><%= @book.category.category_name %></b>
</p>
<br>
<p>Issue Data:
  <b><%= @book.issue_date %></b>
</p>
<br>
<p>Description:
  <b><%= @book.description %></b>
</p>
<% if @book.user == current_user %>
  <%= link_to book_change_form_path(@book), remote: true do %>
    <button type="button" class="btn btn-warning">Edit Book Information</button>
  <% end %>
<% end %>
