<div class="row">
  <div class="col-12">
    <div class="product-topbar d-xl-flex align-items-end justify-content-between">
      <div class="total-products">
        <p>total books: <%= @books.count %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Single Product Area -->
  <% @books.each do |book| %>
    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
      <div class="single-product-wrapper">
        <!-- Product Image -->
          <%= link_to book do %>
            <div class="product-img">
              <!-- <img src="img/product-img/product1.jpg" alt=""> -->
              <% if book.picture.present? %>
                <%= cl_image_tag(book.picture, {:style => "height:500px;"}) %>
              <% else %>
                <%= image_tag("default_book.jpg", {:style => "height:500px;"}) %>
              <% end %>
            </div>
          <% end %>
          <!-- Product Description -->
          <div class="product-description d-flex align-items-center justify-content-between">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
              <div class="line"></div>
              <a href="product-details.html">
                <h4><%= book.title %></h4>
                <span><%= book.author %></span>
              </a>
            </div>
    
                
          </div>
          <div class="ratings">
                <%= rating_for book, "quality", star: 5,  disable_after_rate: false, cancel: true %>
                <div class="font-rating">
                (Total vote: <%= book.rates("quality").count %>)
                <br>
                <% unless book.rates("quality").count == 0 %>
                Average Score: <%= sprintf "%.2f", book.average("quality").avg %>
                <% end %>
                </div>
                </div>
      </div>
      
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-12">
    <!-- Pagination -->
    <!-- <nav aria-label="navigation">
      <ul class="pagination justify-content-end mt-50">
        <li class="page-item active"><a class="page-link" href="#">01.</a></li>
        <li class="page-item"><a class="page-link" href="#">02.</a></li>
        <li class="page-item"><a class="page-link" href="#">03.</a></li>
        <li class="page-item"><a class="page-link" href="#">04.</a></li>
      </ul>
    </nav> -->
  </div>
</div>
