<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="search-wrapper section-padding-100">
      <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="search-content">
              <form action="#" method="get">
                <input type="search" name="search" id="search" placeholder="Type your keyword...">
                <button type="submit"><%= image_tag("search.png") %></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
    <% end %>
    <div class="main-content-wrapper d-flex clearfix">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
</html>
